# Data and temporary notebooks
*.npy
.ipynb_checkpoints
psf_dir
chains
fermi_data
fermi_data.tar.gz*

# Package/build directories
NPTFit.egg-info
build
dist

# Cython output
*.pyc
*.so
*.o
*.c

# Trailing files
*~
*.log
*.nfs*
*.swp*
*.out
*.core
*.swo
